# fly.toml app configuration file generated for tiktoktestpage on 2024-05-14T01:22:31+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "tiktoktestpage"
primary_region = "nrt"

[build]
  dockerfile = "Dockerfile"  # Dockerfile을 명시

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-1x"